@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');


@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');



*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

html,
body {
  height: 100%
}

body {
  font-family: 'Montserrat', sans-serif;
}




body.lock {
  overflow: hidden;
}

body.active {
  overflow: auto;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  z-index: 2;
}


.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}


.header__btn {
  flex: 0 0 40px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__btn img {
  width: 40px;
  height: 40px;
  min-width: 100%;
  display: block;
}

.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
}

.header__burger span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all 0.5s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}

.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}



.header__burger.active span {
  transform: scale(0);
}

.header__menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: all 0.5s ease 0s;
  background-color: rgb(231, 227, 234);
  padding: 70px 10px 20px 10px;
}

.header__menu.active {
  top: 0;
}

.header__menu.lock {
  top: -100%;
}

.header__list {
  display: block;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 20px 0px;
}

.header__link {
  color: rgb(8, 8, 8);
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}


.content {
  padding: 60px 0px 0px 0px;
}






h1 {
  margin-top: 3%;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: 800;
  margin-top: 5%;
}

h3 {
  margin-top: 5%;
  margin-left: 3%;
  color: blue;
  font-weight: 600;
}

p {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  text-indent: 3ch;
  font-size: 20px;
}

b {
  font-weight: 600;
}






::-moz-selection {
  background-color: #ffee38;
  color: #191919
}

::selection {
  background-color: #ffee38;
  color: #191919
}


.header__main__link {
  color: blue;
}

.header__ordered__list {
  margin-left: 2%;
  margin-top: 2%;
}




model-viewer {
  --poster-color: #ffffff00;
}

.cube {
  float: left;
  width: 50%;
  height: 200px;
}


.sphere {
  float: right;
  width: 30%;
  height: 150px;
}
.no {
  text-indent: 0ch;
}




body {
  position: relative;
  z-index: 0;

}



canvas {
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;;
  z-index: -1;
}